@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* default variable */
:root {
  /* point color */
  --point-color-1: #005bac;
  --point-color-2: #1676bc;
  --point-color-3: #1876bc;
  --point-color-4: rgba(22, 118, 188, 0.3);
  /* mono color */
  --mono-white: #ffffff;
  --mono-gray-txt-light: #999999;
  --mono-gray-txt-dark: #333333;
  --mono-gray-line-1: #d9d9d9;
  --mono-gray-line-2: #d5d5d5;
  --mono-gray-bg-1: #f5f6fa;
  --mono-gray-bg-2: #d9d9d9;
  --mono-gray-bg-3: #697077;
  --mono-gray-input-ph: #c5c5c5;
  --mono-gray-input-bd: #c1c7cd;
  --mono-gray-normal: #ededed;
  --mono-black-icon-1: #21272a;
  --mono-black-icon-2: #111111;
  /* border */
  --keyword-bd-all: 2px solid #1676bc;
  --input-bd-bottom: 1px solid #c1c7cd;
  --input-bd-all: 1px solid #d9d9d9;
  /* shadow */
  --shadow-default: 6px 6px 54px 0px #0000000d;
}
/* font */
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
