@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* default variable */
:root {
  /* point color */
  --point-color-1: #005bac;
  --point-color-2: #1676bc;
  --point-color-3: #1876bc;
  --point-color-4: rgba(22, 118, 188, 0.3);
  /* mono color */
  --mono-white: #ffffff;
  --mono-black-title: #000000;
  --mono-gray-txt-light: #999999;
  --mono-gray-txt-dark: #333333;
  --mono-gray-line-1: #d9d9d9;
  --mono-gray-line-2: #d5d5d5;
  --mono-gray-bg-1: #f5f6fa;
  --mono-gray-bg-2: #d9d9d9;
  --mono-gray-bg-3: #697077;
  --mono-gray-input-ph: #c5c5c5;
  --mono-gray-input-bd: #c1c7cd;
  --mono-gray-normal: #ededed;
  --mono-black-icon-1: #21272a;
  --mono-black-icon-2: #111111;
  /* other color */
  --other-red: #da1e28;
  /* border */
  --keyword-bd-all: 2px solid #1676bc;
  --input-bd-bottom: 1px solid #c1c7cd;
  --input-bd-all: 1px solid #d9d9d9;
  --table-bd: 1px solid var(--mono-gray-line-2);
  --btn-bd: 0 0 0 2px #8fb6ff inset;
  /* shadow */
  --shadow-1: 6px 6px 54px 0px #0000000d;
  --shadow-2: 0px 0px 10px 0px #0000001a;
}

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--mono-gray-txt-dark);
  font-weight: 500;
}

button {
  cursor: pointer;
  border: none;
}

/* admin */

.admin-pageTitle {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: var(--mono-black-title);
  margin-bottom: 20px;
}
